.Note > div {
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height: auto;
    width: 220px;
    padding:1em;
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    -moz-transition:-moz-transform .15s linear;
    transition:-o-transform .15s linear;
    -webkit-transition:-webkit-transform .15s linear;
}
.Note {
    margin:2em;
    float:left;
  }

.Note__title {
    font-size:140%;
    font-weight:bold;
    padding-bottom:10px;
  }

.Note__delete-icon {
    float: right;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
}

.Note__text {
    font-family:"Reenie Beanie",arial,sans-serif;
    font-size:180%;
}
.Note > div {
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
    -moz-transform:rotate(-6deg);
  }
.Note:nth-child(even) > div {
    transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    position:relative;
    top:5px;
    background:#cfc;
  }
.Note:nth-child(3n) > div {
    transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background:#ccf;
  }
.Note:nth-child(5n) > div {
    transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    position:relative;
    top:-10px;
  }
.Note > div:hover, .Note > div:focus{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    position:relative;
    z-index:5;
  }