.NoteEditor {
    width: 100%;
    max-width: 600px;
    padding: 16px;
    margin: 16px auto;
    background-color: #fcfcdb;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
}

.NoteEditor__text {
    max-width: 100%;
    resize: none;
    margin: 5px;
    font-size: 14px;
    border: none;
    font-weight: 300;
    background-color: #fcfcdb;
}

.NoteEditor__text:focus {
    outline: 0;
}

.NoteEditor__title {
    font-size: 14px;
    width: 100%;
    resize: none;
    margin: 5px;
    border: none;
    font-weight: 500;
    outline: 0;
    background-color: #fcfcdb;

    /* &:focus {
        outline: 0;
    } */
}

.NoteEditor__color {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 12px;
    color: #898989;
}

.NoteEditor__color-item {
    position: relative;
    margin-right: 20px;
    margin-left: 5px;
}

.NoteEditor__color-item input:checked + span {
    border: 1px solid #d0d0d0;
}

.NoteEditor__color-item .color-item {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: -5px;
    cursor: pointer;
}

.NoteEditor__color-item .color_cfc{
    background-color: #cfc;

}

.NoteEditor__color-item .color_ffc{
    background-color: #ffc;
}

.NoteEditor__color-item .color_ccf{
    background-color: #ccf;
}

.NoteEditor__color-item .color_b5f6fc{
    background-color: #b5f6fc;
}

.NoteEditor__color-item .color_fcc2e5{
    background-color: #fcc2e5;
}

.NoteEditor__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NoteEditor__button {
    border: none;
    /* border-radius: 24px; */
    padding: 10px 15px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 160px;
    text-align: center;
    line-height: 1.3;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 100ms ease-in-out;
    background: #3ac569;
    color: white;

    /* // &:hover {
    //     opacity: .9;
    //     transition: all 100ms ease;
    // }

    // &:active {
    //     opacity: .75;
    //     transform: scale(.97);
    //     transition: all 100ms ease;
    // }

    // &:focus {
    //     outline: 0;
    // } */
}

.NoteEditor__button:hover {
    opacity: .9;
    transition: all 100ms ease;
}